.flash-message {
    position: fixed; /* Fixed relative to the viewport */
    top: 20px; /* Positioned at the top of the page */
    right: 20px; /* Positioned on the right side of the page */
    z-index: 1000; /* Ensure it's on top of other content */
    background-color: #f4f4f4; /* Light grey background */
    border: 1px solid #ddd; /* Light grey border */
    padding: 10px; /* Some padding around the text */
    border-radius: 5px; /* Rounded corners */
    box-shadow: 0 2px 4px rgba(0,0,0,0.2); /* A slight shadow */
    opacity: 0; /* Start invisible */
    transition: opacity 0.5s ease-in-out; /* Transition for the fade in/out */
  }
  
  .flash-message.error {
    background-color: #d9534f; /* Red background for error messages */
    color: white; /* White text color */
  }
  


/* Establece una fuente predeterminada para todo el texto en el cuerpo de la página */
body {
    font-family: Arial, sans-serif;
}

/* Estilo del encabezado con un diseño flexible, fondo oscuro y elementos centrados */
header {
    display: flex; /* Usa Flexbox para el diseño */
    justify-content: space-between; /* Distribuye los elementos del menú y el título */
    align-items: center; /* Centra verticalmente los elementos en el encabezado */
    background-color: #333; /* Fondo oscuro para el encabezado */
    color: white; /* Color de texto blanco */
    padding: 10px; /* Relleno alrededor del encabezado */
}

/* Estilo del título del encabezado, eliminando el margen predeterminado */
h1 {
    margin: 0; /* Elimina el margen predeterminado para controlar el espaciado */
}

/* Contenedor para menús desplegables, usando Flexbox para la alineación */
.dropdowns-container {
    display: flex; /* Flexbox para alinear desplegables horizontalmente */
    align-items: center; /* Centra verticalmente los desplegables */
}

/* Estilo para el contenedor de cada menú desplegable */
.dropdown-container {
    position: relative; /* Posicionamiento relativo para el posicionamiento absoluto del contenido desplegable */
    display: inline-block; /* Permite que los desplegables se ubiquen en línea con otros elementos */
}

/* Estilo genérico para botones desplegables y opciones */
.dropbtn, .option {
    background-color: #333; /* Fondo oscuro para botones */
    color: white; /* Color de texto blanco */
    padding: 10px; /* Relleno para el área clickeable */
    font-size: 16px; /* Tamaño del texto */
    border: none; /* Sin borde */
    cursor: pointer; /* Cursor en forma de puntero al pasar el ratón */
}

/* Contenido desplegable oculto, mostrado al pasar el ratón */
.dropdown-content {
    display: none; /* Oculto por defecto */
    position: absolute; /* Posicionado de manera absoluta en relación a su padre */
    right: 0; /* Alineado al lado derecho del contenedor desplegable */
    background-color: #f9f9f9; /* Fondo claro para el contenido desplegable */
    min-width: 160px; /* Ancho mínimo del contenido desplegable */
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); /* Sombra para efecto 3D */
    z-index: 1; /* Asegura que el contenido desplegable aparezca sobre otros contenidos */
}

/* Estilo para enlaces dentro del desplegable */
.dropdown-content a {
    color: black; /* Color de texto negro para legibilidad */
    padding: 12px 16px; /* Relleno para clics más fáciles */
    text-decoration: none; /* Sin subrayado para enlaces */
    display: block; /* Mostrado como bloque para área de clic de ancho completo */
}

/* Estilo para enlaces desplegables al pasar el ratón */
.dropdown-content a:hover {background-color: #f1f1f1;}

/* Muestra el contenido desplegable cuando se pasa el ratón sobre el contenedor */
.dropdown-container:hover .dropdown-content {
    display: block; /* Muestra el contenido desplegable */
}


/* Estilo para separar los header de la seccion */
.content {
    display: flex;
    justify-content: space-between;
    margin-top: 40px; /* Añade un margen superior de 20px */
    /* Resto de tus estilos */
}

/* Estilo para la sección que contiene los gráficos */
.content {
    display: flex; /* Uso de flexbox para un diseño flexible */
    flex-wrap: wrap; /* Permite que los elementos se ajusten según el ancho disponible */
    gap: 10px; /* Espacio entre gráficos */
    align-items: stretch; /* Los elementos hijos se estiran para llenar el contenedor en altura */
    justify-content: space-evenly; /* Distribución uniforme del espacio horizontal */
}

/* Estilo para cada gráfico individual */
.chart {
    flex: 1 1 calc(33.33% - 20px); /* Cada gráfico ocupa un tercio del espacio disponible, ajustando para el espacio entre gráficos */
    display: flex; /* Uso de flexbox dentro de cada gráfico */
    flex-direction: column; /* Organización vertical de los elementos internos */
    justify-content: center; /* Centrado vertical de los elementos internos */
    align-items: center; /* Centrado horizontal de los elementos internos */
    min-height: 300px; /* Altura mínima para cada gráfico */
}

/* Asegurándose de que los elementos de Bokeh se expandan para llenar el .chart */
.chart > div {
    width: 100%; /* Los div de Bokeh deben ocupar todo el ancho disponible */
    height: 100%; /* Los div de Bokeh deben ocupar toda la altura disponible */
}

/* Estilo para separar los header de la seccion */
.search-section {
    display: flex;
    justify-content: space-between;
    margin-top: 60px; /* Añade un margen superior de 20px */
    /* Resto de tus estilos */
}

/* ... otros estilos de header, dropdown, etc. ... */

.main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.search-section {
    width: 80%; /* Ajusta según sea necesario */
    margin-bottom: 20px;
}

.table-section {
    width: 90%;
    margin-bottom: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 8px;
    border-bottom: 1px solid #ddd;
    text-align: left;
}

/* ... Resto de tus estilos ... */

.btn {
    /* estilos actuales */
    display: inline-block;
    background-color: #0b2d5b;
    color: white;
    padding: .375rem .75rem;
    border: 1px solid transparent;
    border-radius: .25rem;
    text-decoration: none; /* elimina el subrayado de los enlaces */
    text-align: center;
    transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s; /* animaciones suaves */
}

.btn:hover {
    background-color: #1a4a8f; /* un azul ligeramente más claro para el efecto hover */
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2); /* añade una sombra para resaltar */
    /* transform: scale(1.05); #hace el botón un poco más grande al pasar el cursor */
}

/* Ajuste para el dahs */

.graficos-filtros {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.grafico {
    width: 28%;
    height: 300px; /* Ajusta según tus necesidades */
    background-color: #f0f0f0; /* Color de fondo */
    text-align: center;
    line-height: 300px; /* Esto es para centrar el texto verticalmente, ajusta según la altura */
}

.tablas {
    display: flex;
    justify-content: space-between;

}

#tablezona, #tablediario {
    border-collapse: collapse;
}

#tablezona {
    width: 55%;
    
}

#tablediario {
    width: 25%;
    margin-right: auto; /* Esto empuja la tabla zona hacia la derecha */
    
}

table th, table td {
    padding: 5px;
}

/* Estilos adicionales según necesidades */

#form-filtros-busqueda {
    display: flex;
    flex-direction: column;
    width: 16%;
    background-color: #ddd;
    text-align: center;
    padding: 10px;
    box-sizing: border-box;
}

#form-filtros-busqueda select, 
#form-filtros-busqueda input[type="date"], 
#form-filtros-busqueda label,
#form-filtros-busqueda .dropdown-check-list {
    width: 100%;
    margin-bottom: 5px;
}

#form-filtros-busqueda label {
    text-align: left;
    display: block;
    margin-top: 10px;
}

.dropdown-check-list {
    display: block; /* Asegura que cada dropdown ocupe su propia línea */
    user-select: none;
}

.dropdown-check-list .anchor {
    cursor: pointer;
    display: block;
    padding: 5px 10px;
    border: 1px solid #ccc;
    background-color: #f8f8f8;
    border-radius: 4px;
    font-weight: bold;
    position: relative;
}

.dropdown-check-list .items {
    display: none; /* Asegura que la lista de elementos no sea visible hasta que se haga clic */
    position: static; /* Cambiado de absolute a static para seguir el flujo normal del documento */
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    z-index: 100;
    border-radius: 4px;
    box-shadow: 0 2px 5px rgba(0,0,0,.2);
}

.dropdown-check-list .items.visible {
    display: block;
}

.dropdown-check-list ul.items {
    list-style: none;
    padding: 0;
    margin: 0;
    max-height: 200px; /* Mantiene la altura y el desplazamiento */
    overflow-y: auto;
}

.dropdown-check-list ul.items li {
    padding: 2px 10px;
    display: flex;
    align-items: center;
}

.dropdown-check-list ul.items li:not(:last-child) {
    border-bottom: 1px solid #eaeaea;
}

.dropdown-check-list ul.items li:hover {
    background-color: #eaeaea;
}

.dropdown-check-list ul.items li label {
    flex-grow: 1;
    cursor: pointer;
    margin: 0;
}

.dropdown-check-list ul.items li input[type="checkbox"] {
    margin-right: 10px;
    cursor: pointer;
}

input[type="date"] {
    margin-bottom: 10px; /* Espacio adicional para separar los input de fecha */
}


