<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Dashboard - Main</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">

    <!-- Importar las librerías de Bokeh -->
    <script src="https://cdn.bokeh.org/bokeh/release/bokeh-2.4.3.min.js"></script>
    <script src="https://cdn.bokeh.org/bokeh/release/bokeh-widgets-2.4.3.min.js"></script>
    <script src="https://cdn.bokeh.org/bokeh/release/bokeh-tables-2.4.3.min.js"></script>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <header>
        <h1>DahsBoard - Estructuras</h1>
        <div class="dropdowns-container">
            <div class="dropdown-container">
                <button class="dropbtn">Opción 1</button>
                <div class="dropdown-content">
                    <a href="#">Link 1</a>
                    <a href="#">Link 2</a>
                </div>
            </div>

            <div class="dropdown-container">
                <button class="dropbtn">Opción 2</button>
                <div class="dropdown-content">
                    <a href="#">Link 3</a>
                    <a href="#">Link 4</a>
                </div>
            </div>

            <button class="option">Opción 3</button>
            <button class="option">Opción 4</button>
        </div>
    </header>

    <section class="content">
        <div class="chart" id="chart1">
            {{script1 | safe}}
            {{div1 | safe}}
        </div>
        <div class="chart" id="chart2">   
            {{script2 | safe}}
            {{div2 | safe}}
        </div>
        <div class="chart" id="chart3">
            {{script3|safe}}
            {{div3|safe}}
        </div>
    </section>

    <div class="main-content">
        <section class="search-section">
            <form class="container" id="searchForm" method="post">
                <select id="searchTypeMain" name="search_type_main">
                    <option value="ID">ID</option>
                    <option value="PIECEMARK">PIECEMARK</option>
                    <option value="ESP">ESP</option>    
                    <option value="CLASS">CLASS</option>
                    <option value="ZONA">ZONA</option>
                </select>
                <input type="text" id="searchFilterMain" name="search_filter_main" placeholder="Buscar...">
                <button class="btn" type="submit">Buscar</button>
            </form>
        </section>
    
        <section class="table-section">
            <table>
                <thead>
                  <tr>
                    <th>ID</th>
                    <th>PIECEMARK</th>
                    <th>ESP</th>
                    <th>LINEA</th>
                    <th>CLASS</th>
                    <th>QTY</th>
                    <th>WEIGHT</th>
                    <th>RATIO</th>
                    <th>ZONA</th>
                    <th>TRASLADO</th>
                    <th>PRE_ENSAMBLE</th>
                    <th>MONTAJE</th>
                    <th>TORQUE</th>
                    <th>PUNCH</th>
                    <!-- Añade más encabezados de columna según tus datos -->
                  </tr>
                </thead>
                <tbody>
                    {% for row in search_main_table %}
                    <tr>
                      <td>{{ row[0] }}</td> <!-- ID -->
                      <td>{{ row[1] }}</td> <!-- PIECEMARK -->
                      <td>{{ row[2] }}</td> <!-- ESP -->
                      <td>{{ row[3] }}</td> <!-- LINEA -->
                      <td>{{ row[4] }}</td> <!-- CLASS -->
                      <td>{{ row[5] }}</td> <!-- QTY -->
                      <td>{{ row[6] }}</td> <!-- WEIGHT -->
                      <td>{{ row[7] }}</td> <!-- RATIO -->
                      <td>{{ row[8] }}</td> <!-- ZONA -->
                      <td>{{ row[9] }}</td> <!-- TRASLADO -->
                      <td>{{ row[10] }}</td> <!-- PRE_ENSAMBLE -->
                      <td>{{ row[11] }}</td> <!-- MONTAJE -->
                      <td>{{ row[12] }}</td> <!-- TORQUE -->
                      <td>{{ row[13] }}</td> <!-- PUNCH -->
                      <!-- Repite para cada columna adicional -->
                    </tr>
                  {% endfor %}
                </tbody>
              </table>
        </section>
    </div>
</body>
</html>

